-e svn+http://django-mptt.googlecode.com/svn/trunk/#egg=django-mptt
#feincms la mia versione o
# -e git://github.com/matthiask/feincms.git#egg=feincms
#django-admin-uploads no
django-autoslug
-e git://github.com/django-extensions/django-extensions.git#egg=django-extensions
